@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* *********************************************************************************** */
/* this class is just for a while just I want to test another ui for the hero section of the main page */

.bigOldStyleContainer {

  background-color: rgb(191 219 254);
  height: 200vh;
  width: full;
}

/* ///************************************************************************************ */

.OpenMenuAnimation {
  animation: menuBar ease-out 0.5s;
}

.CloseMenuAnimation {
  animation: closeBar ease-out 0.5s;
}

@keyframes menuBar {
  0% {
    transform: translateX(-150px);
    opacity: 0.5;
  }

  /* 50% {
    opacity: 0.4;
  } */

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes closeBar {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-150px);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.glassHeader {
  background: rgba(255, 255, 255, 0.05);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* .cssbuttons-io-button {
  background: #2563eb;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

button {
  --primary-color: #222;
  --hovered-color: #3b82f6;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color)
}

button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

button p::before {
  position: absolute;
/*   box-sizing: border-box; */
  /* content: "Subscribe";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

button:hover::after {
  width: 100%;
}

button:hover p::before {
  width: 100%;
}

button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
} */ 

/* ******************************************************************************************************000 */

/* code for testing of the new ui */
.animated-button-nav {
  position: relative;
  display: inline-block;
  padding: 8px 30px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #333;
  box-shadow: 0 0 0 2px #052e16;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button-nav span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #052e16;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button-nav span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button-nav:hover {
  box-shadow: 0 0 0 4px #052e16;
  color: #ffffff;
}

.animated-button-nav:active {
  scale: 0.95;
}

.animated-button-nav:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}


.animated-button-register {
  position: relative;
  display: inline-block;
  padding: 2px 38px;
  border: none;
  font-size: 16px;
  background-color: #052e16;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 0 0 2px #052e16;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button-register span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button-register span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button-register:hover {
  box-shadow: 0 0 0 3px #052e16;
  color: #052e16;
}

.animated-button-register:active {
  scale: 0.95;
}

.animated-button-register:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}


.btn-nav {
  font-size: 12px;
  color: #200;
  font-family: inherit;
  font-weight: 700;
  padding-top: 20px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.btn-nav:focus:after,
.btn-nav:hover:after {
  width: 100%;
  left: 0%;
}

.btn-nav:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #222;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

